{
    "extends": [
        "eslint:recommended",
        "plugin:vue/recommended",
        "plugin:react/recommended",
        "prettier"
    ],
    "parserOptions": {
        "ecmaVersion": 2017
    },
    "env": {
        "browser": true,
        "node": true,
        "jest": true
    },
    "rules": {
        "react/prop-types": "off",
        "vue/html-indent": ["error", 4]
    }
}
